@import 'reset';
.hide{
    display: none !important;
}
.show{
    display: block !important;
    animation: fadeIn .4s ease;
}
body{
    font-family: "Alan Sans", sans-serif;
    font-size: 16px;
    position: relative;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding:0 20px;
}
header{
    text-align: center;
    background-color: #009739;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }
}
.mapMenu{
    position: relative;
    .typeUse{
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
        li{
            .active{
                background-color: rgba(0, 124, 48, 0.774);
                cursor: initial;
            }
            button{
                font-size: 1.25rem;
                font-weight: 600;
                background-color: rgba(0, 124, 48, 0.541);
                border-radius: 10px;
                padding: 5px 10px;
                cursor: pointer;
                border: rgba(0, 146, 56, 0.836) solid 2px;
                &:hover{
                    background-color: rgba(0, 124, 48, 0.774);
                }
            }      
        }
    }
    .use-box{
        border-radius: 12px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 400px;
        height: 250px;
        background-color: #fff;
        padding: 10px;
        h2{
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 0.75rem;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 0.75rem 0;
            li{
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 400;
                img{
                    width: 1.5rem;
                    margin: 0 3px;
                }
                input[type="checkbox"]{
                    margin-right: 6px;
                    width: 20px;
                    height: 20px;
                    accent-color: orange;
                }
            }
        }
    }
    .use-line{
        position: absolute;
        height: 56px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #fff;
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .nowYear{
            font-weight: 600;
            font-size: 1.5rem;
            padding: 4px 6px;
            background-color: orange;
            border-radius: 10px;
            position: absolute;
            left: 46.91%;
            top: -38px;
            text-align: center;
        }
        .linesContainer{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
                .lineBig{
                    position: relative;
                    height: 75%;
                    width: 2px;
                    background: #000;
                }
                .lineMedium{
                    height: 50%;
                    width: 2px;
                    background: #000;
                }
                .lineLittle{
                    height: 25%;
                    width: 2px;
                    background: #000;
                }
                .yearText{
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: #000;
                    position: absolute;
                    bottom: -22px;
                    left: -5px;
                }
                .n2{
                    left: -10px !important;
                }
                .n3{
                    left: -18px !important;
                }
                .n4{
                    left: -20px !important;
                }
        }
        input[type="range"]{
            position: relative;
            z-index: 2;
            appearance: none;
            background: transparent;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background-color: orange;
                border: none;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin-top: -6px;
                position: relative;
                bottom: -4px;
            }

            &::-moz-range-thumb {
                background-color: orange;
                border: none;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                bottom: -4px;
            }
        }
    }
}
.mapJS{
    width: 100%;
    height: 90vh;
}
.mapSection{
    padding: 2rem 0;
}
@keyframes fadeIn { 
    0%{ 
        opacity: 0 
    } 
    100% { 
        opacity: 1 
    } 
}
.modal{
    padding: 15px 50px;
    background-color: #fff;
    position: fixed;
    width: 450px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-x: auto;
    display: none;
    scrollbar-width: thin;
    scrollbar-color: #009739 #ffffff;
    z-index: 15;
    .close{
        width: 1.5rem;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .go{
        position: absolute;
        width: 1.85rem;
        top: 70px;
        right: 17px;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 7px;
        }
        p{
            font-weight: 400;
            span{
                font-weight: 600;
            }
        }
        img{
            margin: 10px 0;
        }
        a{
            color: #abada8;
            margin-top: 10px;
            font-size: 1.25rem;
            font-weight: 600;
            border: #abada8 solid 2px;
            padding: 8px 24px;
            border-radius: 10px;
        }
    }
}
footer{
    background-color: #009739;
    padding: 1.5rem 0;
    .info-footer{
        p{
            color: #fff;
            font-size: 1.25rem;
            &:first-child{
                margin-bottom: 4px;
            }
        }
    }
}
.info{
    padding: 15px 0;
    &__mainText{
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.05rem;
        font-weight: 500;
        span{
            font-weight: 700;
        }
    }
    .col1{
        img{
            max-width: 700px !important;
        } 
    }
    .collection{
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img{
            max-width: 500px;
        }
    }
    a{
        background-color: rgba(0, 124, 48, 0.541);
        display: block;
        width: 50px;
        border-radius: 15px;
        position: fixed;
        right: 75px;
        bottom: 50px;
        padding: 8px;
        scroll-behavior: smooth;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            background-color: rgba(0, 124, 48, 0.774);
        }
        img{
            transform: rotate(180deg);
        }
    }
}
.colXat{
    img{
        &:last-child{
            max-width: 350px;
        }
    }
}
.colHeight{
    img{
        max-height: 500px;
    }
}
.oneCol{
    img{
        max-width: 700px !important;
    }
}
.header{
    display: flex;
    align-items: center;
}
.logo{
    img{
        width: 64px;
    }
}
.routePanel{
    display: none;
    align-items: center;
    gap: 0 20px;
    position: absolute;
    top: 60px;
    right: 350px;
    z-index: 10;
    transition: .3s;
    li{
        .active{
            background-color: rgb(255, 165, 0);
            &:hover{
                background-color: rgb(255, 165, 0);
            }
        }
        &:last-child{
            button{
                border:red 2px solid;
                margin-left: 10px;
                &:hover{
                background-color: rgba(255, 0, 0, 0.6);
            }
            }
        }
        button{
            transition: .3s;
            padding: 3px;
            border: orange 2px solid;
            border-radius: 6px;

            &:hover{
                background-color: rgba(255, 165, 0, 0.6);
            }
            img{
                width: 36px;
            }
        }
    }
}
    .helper-content{
        transition: 0.3s;
        position: fixed;
        z-index: 100;
        bottom: 20px;
        right: 100px;
        box-shadow: 0 1px 10px #0006;
        background-color: #fff;
        width: 320px;
        height: 150px;
        border-radius: 8px;
        padding: 15px 20px;
        .closeBtn{
            position: absolute;
            top: 15px;
            right: 10px;
            img{
                width: 16px;
            }
        }
        .tringle{
            position: absolute;
            right: -10px;
            bottom: 7px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #fff;
            transform: rotate(270deg);
        }
        .text-helper{
            h2{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p{
                font-size: 1.1rem;
                margin-bottom: 15px;
            }
            .controlBtn{
                display: flex;
                align-items: center;
                gap: 0 10px;
                button{
                    box-shadow: 0 1px 2px #0006;
                    padding: 3px 7px;
                    background-color: #fff;
                    color: #2d2d2d;
                    font-size: 1.2rem;
                    cursor: pointer;
                    outline: 0;
                    zoom: 1;
                    line-height: 1.3;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    &:hover{
                        background-color: #9790909d !important;
                    }
                }
            }
        }
        }
    .helper-alien{
        position: fixed;
        z-index: 100;
        bottom: 20px;
        right: 20px;
        img{
            width: 92px;
        }
        .eyes{
            position: absolute;
            display: flex;
            gap: 0 20px;
            top: 6px;
            left: 23px;
            .eye{
                width: 12px;
                height: 12px;
                border-radius: 10px;
                background-color: #003153;
            }  
        }
        .mouse{
            position: absolute;
            width: 20px;
            height: 9px;
            border-radius: 0 0 30px 30px;
            background-color: #003153;
            top: 48px;
            left: 35px;
        }
    }
.grayBlur{
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;

}
.disableBlur{
    position: relative;
    z-index: 30;
}

@media(max-width:1320px){
    .helper-alien{
        display: none;
    }
    .helper-content{
        display: none;
    }
    .mapMenu {
        .use-line{
            width: 95%;
            left: initial;
            .nowYear{
                left: 46.71%;
            }
            .linesContainer{
                .yearText{
                    font-size: 1.05rem;
                }
            }
        }
    }
    .mapJS{
        width: 90%;
    }
    .mapMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .useTool{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info {
        .collection{
            img{
                max-width: 400px;
            }
        }
    }
}
@media(max-width:1200px){
    .modal{
        width: 400px;
    }
    .mapMenu{
        .use-line{
            .nowYear {
                left: 46.31%;
            }
        }
    }
}

@media(max-width:1024px){
    .routePanel{
        right: 210px;
    }
    .modal{
        width: 360px;
        .content{
            h2{
                font-size: 1.8rem;
            }
        }
    }
    .mapMenu{
        .use-line{
            .nowYear {
                left: 45.71%;
            }
        }
    }
}
@media(max-width:865px){
    .routePanel {
        right: 130px;
    }
    .mapMenu{
        .use-line{
            .nowYear {
                left: 44.81%;
            }
        }
        .use-box{
            width: 360px;
            ul{
                li{
                    font-size: 1.05rem;
                }
            }
        }
    }
    .info {
        a{
            right: 30px;
            background-color: rgb(0 124 48 / 76%);
            bottom: 40px;
        }
        .collection{
            img{
                max-width: 350px;
            }
        }
    }
}
@media(max-width:740px){
    .routePanel{
        right: 300px;
        top: 110px;
    }
    .mapMenu{
        .use-box{
            bottom: 5px;
        }
    }
    .modal{
        width: 100%;
    }
    .oneCol{
        img{
            max-width: 600px !important;
        }
    }
    .info {
        .collection{
            img{
                max-width: 300px;
            }
        }
    }
}
@media(max-width:630px){
    .mapSection {
        padding: 2rem 0 calc(2rem + 50px) 0;
    }
    .mapMenu{
        .use-box{
            width: 91%;
            right: initial;
            bottom: -70px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            ul{
                li{
                    font-size: 1.3rem;
                }
            }
        }
        .use-line{
            .nowYear {
                left: 42.11%;
            }
            bottom: -25px;
        }
    }
    .oneCol{
        img{
            max-width: 500px !important;
        }
    }
        .info {
            .collection{
                img{
                    max-width: 250px;
                }
            }
        }
}
@media(max-width:530px){
    .mapMenu{
        .use-box{
            ul{
                li{
                    font-size: 1.15rem;
                }
            }
        }
        .use-line{
            .nowYear {
                left: 41.51%;
            }
        }
    }
.oneCol{
    img{
        max-width: 400px !important;
    }
}
    header{
        h1{
            font-size: 1.9rem;
        }
    }
    .info {
        &__mainText{
            font-size: 1.8rem;
        }
        .collection{
            display: flex;
            flex-direction: column;
            img{
                max-width: 400px;
            }
        }
    }
}
@media(max-width:420px){
    .mapMenu{
        .use-box{
            ul{
                li{
                    font-size: 1.05rem;
                }
            }
        }
        .use-line{
            .nowYear {
                left: 38.91%;
            }
        }
    }
.oneCol{
    img{
        max-width: 330px !important;
    }
}
    .info {
        .collection{
            display: flex;
            flex-direction: column;
            img{
                max-width: 320px;
            }
        }
    }
}
@media(max-width:390px){
    .mapMenu{
        .typeUse{
            flex-direction: column;
            width: 100%;
            gap: 20px;
            li{
                button{
                    width: 100%;
                }
            }
        }
        .use-box{
            ul{
                li{
                    font-size: 0.9rem;
                }
            }
        }
        .use-line{
            .nowYear{
                left: 37.71%;
            }
        }
    }
}
@media(max-width:360px){
.oneCol{
    img{
        max-width: 300px !important;
    }
}
    header{
        h1{
            font-size: 1.6rem;
        }
    }
    .info{
        &__mainText{
            font-size: 1.5rem;
        }
    }
    .info {
        .collection{
            display: flex;
            flex-direction: column;
            img{
                max-width: 300px;
            }
        }
    }
}