/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
  animation: fadeIn 0.4s ease;
}

body {
  font-family: "Alan Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  background-color: #009739;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.mapMenu {
  position: relative;
}
.mapMenu .typeUse {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.mapMenu .typeUse li .active {
  background-color: rgba(0, 124, 48, 0.774);
  cursor: initial;
}
.mapMenu .typeUse li button {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: rgba(0, 124, 48, 0.541);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: rgba(0, 146, 56, 0.836) solid 2px;
}
.mapMenu .typeUse li button:hover {
  background-color: rgba(0, 124, 48, 0.774);
}
.mapMenu .use-box {
  flex-direction: column;
  border-radius: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 400px;
  height: 250px;
  background-color: #fff;
  padding: 10px;
}
.mapMenu .use-box h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.mapMenu .use-box ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem 0;
}
.mapMenu .use-box ul li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.mapMenu .use-box ul li img {
  width: 1.5rem;
  margin: 0 3px;
}
.mapMenu .use-box ul li input[type=checkbox] {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  accent-color: orange;
}
.mapMenu .use-line {
  position: absolute;
  height: 56px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.mapMenu .use-line input[type=number]::-webkit-outer-spin-button,
.mapMenu .use-line input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mapMenu .use-line .nowYear {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 4px 6px;
  background-color: orange;
  border-radius: 10px;
  position: absolute;
  left: 46.91%;
  top: -38px;
  text-align: center;
}
.mapMenu .use-line .linesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mapMenu .use-line .linesContainer .lineBig {
  position: relative;
  height: 75%;
  width: 2px;
  background: #000;
}
.mapMenu .use-line .linesContainer .lineMedium {
  height: 50%;
  width: 2px;
  background: #000;
}
.mapMenu .use-line .linesContainer .lineLittle {
  height: 25%;
  width: 2px;
  background: #000;
}
.mapMenu .use-line .linesContainer .yearText {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  position: absolute;
  bottom: -22px;
  left: -5px;
}
.mapMenu .use-line .linesContainer .n2 {
  left: -10px !important;
}
.mapMenu .use-line .linesContainer .n3 {
  left: -18px !important;
}
.mapMenu .use-line .linesContainer .n4 {
  left: -20px !important;
}
.mapMenu .use-line input[type=range] {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.mapMenu .use-line input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: orange;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-top: -6px;
  position: relative;
  bottom: -4px;
}
.mapMenu .use-line input[type=range]::-moz-range-thumb {
  background-color: orange;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  bottom: -4px;
}
.mapMenu .use-tasks {
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 110%;
  height: 90vh;
  background-color: #ffffff;
  display: flex;
  padding: 30px;
}
.mapMenu .use-tasks .buttonsBar {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.mapMenu .use-tasks .buttonsBar button {
  font-size: 1.15rem;
  font-weight: 600;
  background-color: rgba(230, 179, 40, 0.596);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: rgba(255, 165, 0, 0.836) solid 2px;
}
.mapMenu .use-tasks .buttonsBar button:hover {
  background-color: rgb(255, 187, 0);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: rgba(255, 165, 0, 0.836) solid 2px;
}
.mapMenu .use-tasks .buttonsBar .active {
  background-color: rgb(255, 187, 0);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: rgba(255, 165, 0, 0.836) solid 2px;
}
.mapMenu .use-tasks .boxTasks {
  box-shadow: 0 1px 10px rgba(56, 56, 56, 0.164);
  width: 85%;
  height: 100%;
}
.mapMenu .use-tasks .boxTasks .itemTasks {
  height: 100%;
  width: 100%;
  display: none;
}
.mapMenu .use-tasks .boxTasks .active {
  display: flex;
}

.mapJS {
  width: 100%;
  height: 90vh;
}

.mapSection {
  padding: 2rem 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal {
  padding: 15px 50px;
  background-color: #fff;
  position: fixed;
  width: 450px;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-x: auto;
  display: none;
  scrollbar-width: thin;
  scrollbar-color: #009739 #ffffff;
  z-index: 15;
}
.modal .close {
  width: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal .go {
  position: absolute;
  width: 1.85rem;
  top: 70px;
  right: 17px;
}
.modal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .content h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}
.modal .content p {
  font-weight: 400;
}
.modal .content p span {
  font-weight: 600;
}
.modal .content img {
  margin: 10px 0;
}
.modal .content a {
  color: #abada8;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  border: #abada8 solid 2px;
  padding: 8px 24px;
  border-radius: 10px;
}

footer {
  background-color: #009739;
  padding: 1.5rem 0;
}
footer .info-footer p {
  color: #fff;
  font-size: 1.25rem;
}
footer .info-footer p:first-child {
  margin-bottom: 4px;
}

.info {
  padding: 15px 0;
}
.info__mainText {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.info p {
  font-size: 1.05rem;
  font-weight: 500;
}
.info p span {
  font-weight: 700;
}
.info .col1 img {
  max-width: 700px !important;
}
.info .collection {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.info .collection img {
  max-width: 500px;
}
.info a {
  background-color: rgba(0, 124, 48, 0.541);
  display: block;
  width: 50px;
  border-radius: 15px;
  position: fixed;
  right: 75px;
  bottom: 50px;
  padding: 8px;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: 0.4s;
}
.info a:hover {
  background-color: rgba(0, 124, 48, 0.774);
}
.info a img {
  transform: rotate(180deg);
}

.colXat img:last-child {
  max-width: 350px;
}

.colHeight img {
  max-height: 500px;
}

.oneCol img {
  max-width: 700px !important;
}

.header {
  display: flex;
  align-items: center;
}

.logo img {
  width: 64px;
}

.routePanel {
  display: none;
  align-items: center;
  gap: 0 20px;
  position: absolute;
  top: 60px;
  right: 350px;
  z-index: 10;
  transition: 0.3s;
}
.routePanel li .active {
  background-color: rgb(255, 165, 0);
}
.routePanel li .active:hover {
  background-color: rgb(255, 165, 0);
}
.routePanel li:last-child button {
  border: red 2px solid;
  margin-left: 10px;
}
.routePanel li:last-child button:hover {
  background-color: rgba(255, 0, 0, 0.6);
}
.routePanel li button {
  transition: 0.3s;
  padding: 3px;
  border: orange 2px solid;
  border-radius: 6px;
}
.routePanel li button:hover {
  background-color: rgba(255, 165, 0, 0.6);
}
.routePanel li button img {
  width: 36px;
}

.helper-content {
  transition: 0.3s;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 100px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  width: 320px;
  height: 150px;
  border-radius: 8px;
  padding: 15px 20px;
}
.helper-content .closeBtn {
  position: absolute;
  top: 15px;
  right: 10px;
}
.helper-content .closeBtn img {
  width: 16px;
}
.helper-content .tringle {
  position: absolute;
  right: -10px;
  bottom: 7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fff;
  transform: rotate(270deg);
}
.helper-content .text-helper h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.helper-content .text-helper p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.helper-content .text-helper .controlBtn {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.helper-content .text-helper .controlBtn button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  padding: 3px 7px;
  background-color: #fff;
  color: #2d2d2d;
  font-size: 1.2rem;
  cursor: pointer;
  outline: 0;
  zoom: 1;
  line-height: 1.3;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.helper-content .text-helper .controlBtn button:hover {
  background-color: rgba(151, 144, 144, 0.6156862745) !important;
}

.helper-alien {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}
.helper-alien img {
  width: 92px;
}
.helper-alien .eyes {
  position: absolute;
  display: flex;
  gap: 0 20px;
  top: 6px;
  left: 23px;
}
.helper-alien .eyes .eye {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #003153;
}
.helper-alien .mouse {
  position: absolute;
  width: 20px;
  height: 9px;
  border-radius: 0 0 30px 30px;
  background-color: #003153;
  top: 48px;
  left: 35px;
}

.grayBlur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
  display: none;
}

.disableBlur {
  position: relative;
  z-index: 30 !important;
}

@media (max-width: 1900px) {
  .helper-alien {
    display: none;
  }
  .helper-content {
    display: none;
  }
}
@media (max-width: 1320px) {
  .helper-alien {
    display: none;
  }
  .helper-content {
    display: none;
  }
  .mapMenu .use-line {
    width: 95%;
    left: initial;
  }
  .mapMenu .use-line .nowYear {
    left: 46.71%;
  }
  .mapMenu .use-line .linesContainer .yearText {
    font-size: 1.05rem;
  }
  .mapJS {
    width: 90%;
  }
  .mapMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .useTool {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info .collection img {
    max-width: 400px;
  }
}
@media (max-width: 1200px) {
  .modal {
    width: 400px;
  }
  .mapMenu .use-line .nowYear {
    left: 46.31%;
  }
}
@media (max-width: 1024px) {
  .routePanel {
    right: 210px;
  }
  .modal {
    width: 360px;
  }
  .modal .content h2 {
    font-size: 1.8rem;
  }
  .mapMenu .use-line .nowYear {
    left: 45.71%;
  }
}
@media (max-width: 865px) {
  .routePanel {
    right: 130px;
  }
  .mapMenu .use-line .nowYear {
    left: 44.81%;
  }
  .mapMenu .use-box {
    width: 360px;
  }
  .mapMenu .use-box ul li {
    font-size: 1.05rem;
  }
  .info a {
    right: 30px;
    background-color: rgba(0, 124, 48, 0.76);
    bottom: 40px;
  }
  .info .collection img {
    max-width: 350px;
  }
}
@media (max-width: 740px) {
  .modal {
    padding: 15px 50px 50px 15px;
  }
  .routePanel {
    right: 300px;
    top: 110px;
  }
  .mapMenu .use-box {
    bottom: 5px;
  }
  .modal {
    width: 100%;
  }
  .oneCol img {
    max-width: 600px !important;
  }
  .info .collection img {
    max-width: 300px;
  }
}
@media (max-width: 630px) {
  .routePanel {
    right: 240px;
  }
  .mapSection {
    padding: 2rem 0 calc(2rem + 50px) 0;
  }
  .mapMenu .typeUse {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .mapMenu .typeUse li button {
    width: 100%;
  }
  .mapMenu .use-box {
    width: 91%;
    right: initial;
    bottom: -70px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .mapMenu .use-box ul li {
    font-size: 1.3rem;
  }
  .mapMenu .use-line {
    bottom: -25px;
  }
  .mapMenu .use-line .nowYear {
    left: 42.11%;
  }
  .oneCol img {
    max-width: 500px !important;
  }
  .info .collection img {
    max-width: 250px;
  }
}
@media (max-width: 530px) {
  .mapMenu .use-box ul li {
    font-size: 1.15rem;
  }
  .mapMenu .use-line .nowYear {
    left: 41.51%;
  }
  .oneCol img {
    max-width: 400px !important;
  }
  header h1 {
    font-size: 1.9rem;
  }
  .info__mainText {
    font-size: 1.8rem;
  }
  .info .collection {
    display: flex;
    flex-direction: column;
  }
  .info .collection img {
    max-width: 400px;
  }
}
@media (max-width: 580px) {
  .routePanel {
    right: 150px;
  }
}
@media (max-width: 480px) {
  .routePanel {
    right: 100px;
  }
  .mapMenu .use-box ul li {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .routePanel {
    right: 70px;
  }
  .mapMenu .use-box ul li {
    font-size: 0.9rem;
  }
  .mapMenu .use-line .nowYear {
    left: 38.91%;
  }
  .oneCol img {
    max-width: 330px !important;
  }
  .info .collection {
    display: flex;
    flex-direction: column;
  }
  .info .collection img {
    max-width: 320px;
  }
}
@media (max-width: 390px) {
  .routePanel {
    top: 160px;
    right: 45px;
  }
  .mapMenu .typeUse {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .mapMenu .typeUse li button {
    width: 100%;
  }
  .mapMenu .use-box ul li {
    font-size: 0.9rem;
  }
  .mapMenu .use-line .nowYear {
    left: 37.71%;
  }
}
@media (max-width: 360px) {
  .routePanel {
    right: 36px;
  }
  .oneCol img {
    max-width: 300px !important;
  }
  header h1 {
    font-size: 1.6rem;
  }
  .info__mainText {
    font-size: 1.5rem;
  }
  .info .collection {
    display: flex;
    flex-direction: column;
  }
  .info .collection img {
    max-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */